body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #009fe3;
    width: 80%;
    padding: 20px;
    text-align: center;
    position: relative;
}

h1 {
    color: white;
}

.box {
    display: inline-block;
    width: 200px;
    height: 100px;
    border: 5px solid black;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    background-color: #009fe3;
    color: black;
    margin: 20px;
}

.logo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100px;
}
