body{
    display: grid;
    grid-template-rows: auto 1fr; /* Header ocupa su espacio, el div ocupa el resto */
    background-color: white;
    width: 80%;
    padding: 20px;
    text-align: center;
    position: relative;
    margin: 0;
    font-family: Arial, sans-serif;
}   
   
    .contedorPrincipal{
    padding: 40px;
    background-color: #009fe3;
    width: 1760px;
    height: 1200;
    padding: 20px;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 30px;
    border-radius: 20px;
    
} 

.BarraNav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #397acf;
    padding: 10px 20px;
    border-radius: 25px;
    opacity: 0.8;
}
.BarraNav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.BarraNav ul li{
    justify-content: center;
    margin-right: 20px;
}
.BarraNav ul li a{
    color: rgb(231, 231, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logoI{

    height: 100px;
    width: 200px;
}
.itemNav a{
    color: rgb(230, 234, 235);
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    float: left;
}
.itemNav a:hover{
    background-color:#009fe3 ;
    border-radius: 10px;
    
}

.panelSlider{
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
    height: 50vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 15px;
    margin-bottom: 50px;
}

.panelSlider img{
    gap:20px;
    border: 5px;
    border-color: black;
    flex: 0 0 100%;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}
.formulario{

    align-items: center;
    justify-content: center;
}
.formularioContenedor {
    
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}
.formularioContenedor h2 {
    text-align: center;
    margin-bottom: 20px;
}
.formularioContenedor label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.formularioContenedor input[type="text"],
.formularioContenedor select {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.formularioContenedor input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.formularioContenedor [type="submit"]:hover {
    background-color: #218838;
}