body{
    display: grid;
    grid-template-rows: auto 1fr; /* Header ocupa su espacio, el div ocupa el resto */
    background-color: white;
    width: 80%;
    padding: 20px;
    text-align: center;
    position: relative;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%;
    list-style-type: none;

  }

.BarraNav{

    list-style-type: none;
    background-color: rgb(86, 179, 179);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    padding: 15px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.contedorPrincipal{
    padding: 40px;
    background-color: #009fe3;
    width: 1760px;
    height: 2000px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 150px;
    border-radius: 20px;
}

.listaNav{

    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.itemNav{

    margin-right:20px;
}
.listaNav {

    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.itemNav a{
    color: rgb(65, 147, 182);
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    float: left;
}
.itemNav a:hover{
    background-color: #333;
    border-radius: 10px;
    
}

.panelSlider{
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
    height: 50vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 15px;
    margin-bottom: 50px;
}

.panelSlider img{
    gap:20px;
    border: 5px;
    border-color: black;
    flex: 0 0 100%;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}