body {
    font-family: Arial, sans-serif;
    background-color: black;
}


.LeagueOfLegendsLogo {
    width: 15%; 
    height: auto; 
}

header {
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    background-color: rgb(0, 122, 204);
    color: white;
    text-align: center;
    z-index: 1000;
}

.BarraNav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #397acf;
    padding: 10px 20px;
    border-radius: 25px;
    opacity: 0.8;
}
.BarraNav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.BarraNav ul li{
    justify-content: center;
    margin-right: 20px;
}
.BarraNav ul li a{
    color: rgb(231, 231, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logoI{

    height: 100px;
    width: 200px;
}
.contenedor{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

main {
    margin-top: 9%;
    margin-bottom: 9%;
    display: grid;
    gap: 2rem;
    padding: 2rem;
    background: url(../static/imagenes/jugando.jpg);
}

.EquipoLol {
    width: 50%;
    height: auto;
}

section {
    background: whitesmoke;
    padding: 1rem;
    border-radius: 8px;
    box-sizing: border-box;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background-color:  rgb(0, 122, 204);
    color: white;
    text-align: center;
    padding: 10px;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    gap: 20px;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}


/* generado por ia para que no se mire tan sarra el formulario */
input, select, button {
    padding: 10px;
    margin-bottom: 15px; /* Esto agrega espacio entre los campos */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}



@media (max-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    }

    .LeagueOfLegendsLogo {
        width: 30%; 
    }

    main {
        font-size: 5%;
    }

}




