<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forma Contacto</title>
    <link rel= "stylesheet" href="../static/contacto.css"/>

</head>

<body> 
    <header>
        <nav class="BarraNav">
            <a href="#" class='logo'><img class="logoI" src="/static/imagenesContacto/itsonLogo3.png" alt="Logo de la empresa"><a/>
            <ul>
                <li class="itemNav"><a href="index.html">Pagina Inicial</a></li>
                <li class="itemNav"><a href="lol.html">League of Legends E-Sports</a></li>
                <li class="itemNav"><a href="valorant.html">Valorant E-Sports</a></li>
                <li class="itemNav"><a href="contacto.html">Contactanos</a></li>

            </ul>
        </nav>
    
    </header>
    <div class="contedorPrincipal"> 

        <section class="seccionImg">
            <h1>Contactanos</h1>
            <p>Nos gustaria que fueras parte de nosotros</p>
            <div class="panelImg">
                <img  src="/static/imagenesContacto/img1C.jpg">
                <img  src="/static/imagenesContacto/imgC2.jpg">
                <img  src="/static/imagenesContacto/img3C.jpg">
            </div>
        </section>

        <section class="sectionForm">
            <div class="contenedorform">
                <h1>Forma Contacto</h1>
                <form class="formularioContacto">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required>

                    <label for="nombre">Apellidos:</label>
                    <input type="text" id="Apellidos" name="Apellidos" required>

                    <label for="nombre">ID:</label>
                    <input type="text" id="ID" name="ID" required>

                    <label for="nombre">Correo Electronico:</label>
                    <input type="text" id="e_mail" name="e_mail" required>

                    <input type="submit" value="Registrar">

                </form>
            </div>

        </section>    







    </div>


</body>





</html>
