<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/estilos.css">
    <title>eSports Potros</title>
</head>

<body>

    <div class="PanelPrincipal"> 

        <header class="encabezado"><h1>Potros eSports</h1></header>
        <section class="contenido"> 
            <p>Pagina de E-Sport para la universidad Itson</p>
        </section>
    </div>
    <h2>Jugadores</h2>
   <!-- agregar container para las imagenes-->
    <img src="../static/imagenes/jugadoresTodos.jpeg" alt="Jugador 1">
    <img src="../static/imagenes/jugadoresTodos.jpeg" alt="Jugador 2">
    <img src="../static/imagenes/jugadoresTodos.jpeg" alt="Jugador 3">
    <img src="../static/imagenes/jugadoresTodos.jpeg" alt="Jugador 1">

</body>

    
</html>