<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potros eSports - LoL</title>
    <link rel="stylesheet" href="../static/lol.css">
    <link rel="icon" href="../static/imagenes/POTROSimago_azul.png">

</head>

<body>

    <header>
        <img src="../static/imagenes/League-of-Legends-Logo-2009-2019.png" alt="Logo League of legends: " class="LeagueOfLegendsLogo">
    </header>



    <footer>
        <p> copyright potros esports 😮😮😮</p>
    </footer>
</body>
</html>