<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Sports Valorant</title>
    <link rel= 'stylesheet' href='/static/estiloValorant.css'/>
</head>

<body> 
        <header>
            <nav class='BarraNav'>
                <ul calss="listaNav">
                    <li class="itemNav"><a href="#">Pagina Inicial</a></li>
                    <li class="itemNav"><a href="#">League of Legends E-Sports</a></li>
                    <li class="itemNav"><a href="#">Valorant E-Sports</a></li>
                    <li class="itemNav"><a href="#">Contactanos</a></li>
                </ul>
            </nav>
        </header>

    <div class="contedorPrincipal">
        <h1> Estos Somos nostros....</h1>
        <div class="panelSlider">
            <img class="img1" src="/static/imagesValorant/valorantE4.jpg" >
            <img class="img1" src="/static/imagesValorant/valorantE4.jpg" >
            <img class="img1" src="/static/imagesValorant/valorantE4.jpg" >

        </div>

        <div>
            <h1>Un equipo de E-Sports que representa al Itson</h1>  
            <p>Hemos participado en estos Torneos</p>

            
            <p>Nuestro Equipo esta conformado por </p>
            <p></p>
        </div>


    </div>

</body>







</html>